* {
  font-family: Noto Sans;
  letter-spacing: -0.24px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

#slide {
  width: 100vw;
  margin-top: 60px;
  overflow: hidden;
}

#slider {
  width: 200vw;
  display: flex;
  transform: translate(0vw);
  transition: 0.3s;
}

.wrap {
  width: 100vw;
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
}

.wrap::-webkit-scrollbar {
  width: 4px;
}

.wrap::-webkit-scrollbar-thumb {
  border-radius: 12px;
  width: 4px;
  background: #00000033;
}
.bottom {
  height: 50px;
}
#header {
  min-height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  background: #fff;
  top: 0;
  width: 100vw;
  box-shadow: 1px 1px 1px #00000011;
}

#showMenu,
#back {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  cursor: pointer;
}
#showMenu {
  display: none;
}

#backIcon {
  width: 30px;
  height: 30px;
  display: none;
}

.headerTitle {
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calendarList {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.bjCalendar {
  margin: 20px 10px;
  border: 1px solid #c8c8c8;
  cursor: pointer;
  max-height: 300px;
}

.info {
  display: flex;
  height: 100px;
  width: calc(50% - 30px);
  margin: 0 10px;
}

.bjImg {
  width: 100%;
  object-fit: contain;
}

.bjName {
  width: 90%;
}

.next {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 10%;
}

#calendar {
  width: 96%;
  padding: 5px 2% 30px 2%;
}

#detail {
  width: 90%;
  padding: 0px 6%;
  border-top: 1px solid #00000022;
}

.caleandarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 14px;
  font-weight: 600;
}

.dayList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.dateList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3px 0;
  height: 30px;
  margin-bottom: 2px;
  cursor: pointer;
}

.today {
  width: 100%;
  font-size: 10px;
  text-align: center;
  margin: 3px 0;
}

.emptyday {
  width: calc(100% / 7);
}

.todayContainer {
  text-align: center;
  width: calc(100% / 7);
  min-height: 60px;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
}

.subTitle {
  font-size: 13px;
  font-weight: 600;
}

.selectedDate {
  background: #fff;
  color: #000;
  font-size: 15px;
}

input[type="text"] {
  width: 95%;
  height: 27px;
  font-size: 13px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

input[type="time"] {
  width: 95%;
  height: 27px;
  font-size: 13px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

textarea {
  width: 95%;
  height: 120px;
  font-size: 13px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

#categoryInput:disabled {
  background: #fff;
  color: #000;
  font-size: 15px;
  padding: 0;
}

input[type="time"]:disabled {
  background: #fff;
  color: #000;
  font-size: 15px;
  padding: 0;
}

textarea:disabled {
  background: #fff;
  color: #000;
  font-size: 15px;
  border-radius: 0;
  padding: initial;
  border: initial;
  outline: initial;
  padding-left: initial;
}

.colorButtons {
  display: flex;
  gap: 10px;
}

.circleBtn {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #981c26;
}

.circleBtn.active {
  border: 2px solid #000000;
}

.saveButtons {
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
}

.saveBtn {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background-color: #981c26;
  border-radius: 15%;
  padding: 7px 10px;
  cursor: pointer;
}

.back {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #00000088;
}

.popup {
  position: fixed;
  bottom: -30vh;
  width: 100vw;
  background: #fff;
  z-index: 2;
  border-radius: 12px 12px 0 0;
  transition: 0.3s;
}
.menu:nth-child(1) {
  border-bottom: 1px solid #c8c8c8;
}
.menu {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #c8c8c8;
  font-size: 14px;
}

.delete {
  color: #981c26;
}
