* {
  font-family: Noto Sans;
  letter-spacing: -0.24px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

#slide {
  width: 100vw;
  margin-top: 60px;
  overflow: hidden;
}

#slider {
  width: 200vw;
  display: flex;
  transform: translate(-100vw);
  transition: 0.3s;
}

.wrap {
  width: 100vw;
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
}

.wrap::-webkit-scrollbar {
  width: 4px;
}

.wrap::-webkit-scrollbar-thumb {
  border-radius: 12px;
  width: 4px;
  background: #00000033;
}

#header {
  position: fixed;
  display: flex;
  align-items: center;
  background: #fff;
  top: 0;
  width: 100vw;
  box-shadow: 1px 1px 1px #00000011;
}

#share,
#back {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  cursor: pointer;
}

#backIcon {
  width: 30px;
  height: 30px;
}

.headerTitle {
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calendarList {
  background: rgba(0, 0, 0, 0.15);
}

.bjCalendar {
  margin: 20px 20px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  color: #000;
  background-color: #ffffff;
  border-radius: 12px;
}

.bjName {
  width: 90%;
}
.next {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 10%;
}

#calendar {
  width: 96%;
  padding: 30px 2%;
}

#detail {
  width: 90%;
  padding: 0px 6%;
  border-top: 1px solid #00000022;
}

.caleandarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 14px;
  font-weight: 600;
}

.dayList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2px 0;
}

.dateList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3px 0;
  height: 30px;
  margin-bottom: 2px;
}

.today {
  margin: 1px 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
}

.emptyday {
  width: calc(100% / 7);
}

.todayContainer {
  text-align: center;
  width: calc(100% / 7);
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #981c26;
  border-radius: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  margin: 0;
}

.subTitle {
  font-size: 13px;
  font-weight: 600;
}

input[type="text"] {
  width: 95%;
  height: 27px;
  font-size: 13px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

input[type="time"] {
  width: 95%;
  height: 27px;
  font-size: 13px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

textarea {
  width: 95%;
  height: 100px;
  font-size: 13px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.colorButtons {
  display: flex;
  gap: 10px;
}

.circleBtn {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #981c26;
}

.circleBtn.active {
  border: 2px solid #000000;
}

.saveButtons {
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
}

.saveBtn {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background-color: #981c26;
  border-radius: 15%;
  padding: 7px 10px;
}
